body {
  margin: 0;
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 20%;
}
.container {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  animation: color-change 1s infinite;

}

.header {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    z-index: 1;

}

.header::before{
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    top: 0;
    left: 0px;
    background-color: rgba(102, 51, 153, 0.5);
    background-image: url(./image__carousel/whut.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.header_img{
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%;
}

.header_info{
    width: 80%;
    height: 100%;
    padding: 0 1%;
}

@keyframes color-change {
    0% { background-color: rgba(255, 0, 0, 0.5); }
    50% { background-color: rgba(0, 0, 255, 0.5); }
    100% { background-color: rgba(0, 128, 0, 0.5); }
  }

.header_info_name{
    font-size: 40px;
}


.header_info_note{
    width: 100%;
    margin: 10px 0;
}

.header_info_note span, a{
    font-size: 18px;
    border-radius: 15px;
    background-color: #f6e58d;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
}

.introduce{
    font-size: 18px;

}

.body {
    width: 100%;
    height: 75%;
    /* background-color: #f6e58d; */
    display: flex;
    justify-content: center;
    margin: 50px 10px 0 10px;
    z-index: 1;
}

.body::after{
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    bottom: -200px;
    right: 0px;
    background-color: rgba(102, 51, 153, 0.5);
    background-image: url(./image__carousel/whut.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.body_left {
    width: 60%;
    /* background-color: #00dbde; */
    padding: 0 15px;
}

.body_title{
    font-size: 25px;
    border-bottom: 5px solid #f6e58d;
}

.body_contentbox{
    width: 100%;
    margin: 10px 0;
}

.body_contentbox:nth-child(n+3){
    margin-top: 50px;
}

.body_contentbox_title{
    font-size: 20px;
    font-weight: 600;
}

.body_contentbox_date{
    font-size: 16px;
    font-weight: 500;
}

.body_contentbox_content{
    margin-top: 10px;
}


.body_right {
    width: 40%;
    padding: 0 15px;
    border-left: 4px solid #f6e58d;
    /* background-color: aquamarine; */
}

.skill_title{
    /* display: flex; */
    margin: 10px 0;
    display: inline-block;
    font-weight: 600;
    /* background-color: #f6e58d; */
}

.skill_content{
    font-weight: normal;
}

